<div x-cloak x-show="menu" class="bg-emerald fixed left-0 top-0 w-full h-full z-50">
  <a href="javascript:;" 
    class="w-25 sm:w-30 md:w-40 lg:w-56 h-auto block absolute right-18 lg:right-27 top-13 sm:top-12 md:top-15 lg:top-23 z-50"
    x-on:click="menu = ! menu" 
    title="Menü schliessen">
    {{ partial:icons/cross class="w-full h-auto" }}
  </a>
  <nav class="mt-100 lg:mt-[180px]">
    {{ nav:main }}
      <ul class="flex flex-col items-center">
        {{ partial:menu/overlay/item }}
      </ul>
    {{ /nav:main }}
  </nav>
</div>