<footer class="bg-emerald w-full px-15 lg:px-35 xl:px-0 py-20 lg:py-35">
  {{ partial:layout/inner class="!mb-0" }}
    <div class="flex flex-col gap-y-20 sm:gap-y-20 md:grid md:grid-cols-12 md:items-start">
      <div class="md:col-span-7">
        <address class="not-italic">
        {{ if contact_info:address }}
          <div>{{ contact_info:address | nl2br }}</div>
        {{ /if }}
          T <a href="tel:{{ contact_info:phone }}" title="Rufen Sie uns an" class="underline hover:no-underline underline-offset-4 decoration-1">{{ contact_info:phone }}</a>,
          <a href="mailto:{{ contact_info:email }}" title="E-Mail schreiben" class="underline hover:no-underline underline-offset-4 decoration-1">{{ contact_info:email }}</a>
        </address>
      </div>
      
      <div class="md:col-span-3 flex flex-col gap-y-3">
        <a href="#das-beizli-durchs-jahr" title="Öffnungszeiten" class="block underline hover:no-underline underline-offset-4 decoration-1">
          Öffnungszeiten
        </a>
        {{ if downloads }}
          {{ downloads:files }}
            <a href="{{ file }}" title="{{ title }}" target="_blank" class="block underline hover:no-underline underline-offset-4 decoration-1">
              {{ title }}
            </a>
          {{ /downloads:files }}
        {{ /if }}
      </div> 
      
      <div class="md:col-span-2 flex lg:justify-end">
        <nav>
          <ul class="flex items-center gap-x-15 md:gap-x-20 lg:gap-x-25">
            {{ if contact_info:google_maps_url }}
              <li>
                <a href="{{ contact_info:google_maps_url }}" title="Standort auf Google Maps anzeigen" target="_blank" class="group">
                  {{ partial:icons/marker class="block w-22 md:w-27 lg:w-33 h-auto group-hover:text-silver transition-colors" }}
                </a>
              </li>
            {{ /if }}
            {{ if social_media_accounts:publish && social_media_accounts:instagram }}
              <li>
                <a href="{{ social_media_accounts:instagram }}" title="Besuchen Sie unser Instagram Profil" target="_blank" class="group">
                  {{ partial:icons/instagram class="block w-30 md:w-35 lg:w-45 h-auto group-hover:text-silver transition-colors" }}
                </a>
              </li>
            {{ /if }}
          </ul>
        </nav>
      </div>
    </div>

    <div class="flex gap-x-10 lg:gap-x-15 mt-15 lg:mt-20">
      <a href="/impressum" title="Impressum" class="text-tiny sm:text-xxs md:text-xs underline hover:no-underline underline-offset-4 decoration-1">
        Impressum
      </a>
      <a href="/datenschutz" title="Datenschutz" class="text-tiny sm:text-xxs md:text-xs underline hover:no-underline underline-offset-4 decoration-1">
        Datenschutz
      </a>
    </div>

  {{ /partial:layout/inner }}
</footer>
