<header class="pt-20 relative z-20">
    {{ partial:layout/inner class="flex justify-center" }}
    {{ partial:partials/components/dot class="left-[5%] top-[5%]" image="dot-1" }}
    {{ partial:partials/components/dot class="left-[24%] xs:left-[28%] top-[45%] xs:top-[47%]" image="dot-3" }}
    <div class="flex flex-col">
      {{ partial:partials/components/birds/bird-1 }}
      <a href="" class="w-160 xs:w-180 sm:w-200 lg:w-[285px] h-auto block">
        {{ partial:icons/logo class="w-full h-auto block" }}
      </a>
    </div>
    <a 
      href="javascript:;" 
      x-on:click="menu = ! menu" 
      title="Menü anzeigen"
      class="w-30 sm:w-40 md:w-50 lg:w-60 h-auto fixed right-15 lg:right-25 top-20 md:top-25 lg:top-40 z-50">
      {{ partial:icons/burger class="w-full h-auto text-black" }}
    </a>
  {{ /partial:layout/inner}}
</header>
{{ partial:partials/components/dot class="right-[5%] lg:right-[5%] top-[27%] xs:top-[20%] lg:top-[33%]" image="dot-2" }}
{{ partial:menu/overlay/wrapper }}
