<main class="{{ page_class ? page_class : ''}}">
{{ partial:layout/inner }}
  <div class="text-center">
    <div class="text-xs xs:text-sm md:text-xl lg:text-3xl mb-2 md:mb-5 lg:mb-10">Eröffnung</div>
    <div class="text-md xs:text-lg md:text-3xl lg:text-5xl mb-20 lg:mb-40">26. Dezember 2023 – 1. Januar 2024<br>täglich 12 –17 Uhr</div>
    <div class="text-xs xs:text-sm md:text-xl lg:text-3xl">Wir freuen uns auf Ihren Besuch</div>
  </div>
{{ /partial:layout/inner }}

{{ partial:layout/inner }}
  {{ partial:layout/article }}
    <h1>Camaner Beizli</h1>
    <p class="lead mb-20 lg:mb-40">Im Bündner Safiental lädt das Camaner Beizli übers Jahr an ausgewählten Tagen zur Einkehr. Ob in der Gaststube oder im Garten vor dem Walserhaus – wer auch immer vorbeischaut, ist herzlich willkommen</p>
    <div class="md:grid md:grid-cols-12 md:gap-x-20 lg:gap-x-30">
      <div class="md:col-span-6">
        <div class="mb-20 md:mb-25 lg:mb-35">
          <h3>Haus Bühl</h3>
          <p>Das Camaner Beizli befindet sich unterhalb ausgedehnter Alpweiden in Camana auf 1805 m ü. M., im höchstgelegenen, ganzjährig bewohnten Haus der ganzen Surselva.<br>Die gemütliche Gaststube mit Specksteinofen bietet Platz für gut 20 Gäste. Von der sonnigen Aussenterrasse gegenüber dem Bruschghorn, schweift der Blick nach Süden in den Talabschluss und bis hinauf zum Tällihorn.</p>
        </div>
        <div class="mb-20 md:mb-25 lg:mb-35">
          <h3>Essen und Trinken</h3>
          <p>Nach Safienplatz «Abzweigung Camana» nach Ober Camana. nach Ober Camana.<br>Einige Parkplätze in der Nähe des Hauses.</p>
          <p>Die gemütliche Gaststube mit Specksteinofen bietet Platz für gut 20 Gäste. Von der sonnigen Aussenterrasse gegenüber dem Bruschghorn, schweift der Blick nach Süden in den Talabschluss und bis hinauf zum Tällihorn.</p>
        </div>
      </div>
      <div class="md:col-span-6">
        <div class="mb-20 md:mb-25 lg:mb-35">
          <h3>Haus Bühl</h3>
          <p>Das Camaner Beizli befindet sich unterhalb ausgedehnter Alpweiden in Camana auf 1805 m ü. M., im höchstgelegenen, ganzjährig bewohnten Haus der ganzen Surselva.<br>Die gemütliche Gaststube mit Specksteinofen bietet Platz für gut 20 Gäste. Von der sonnigen Aussenterrasse gegenüber dem Bruschghorn, schweift der Blick nach Süden in den Talabschluss und bis hinauf zum Tällihorn.</p>
        </div>
        <div class="mb-20 md:mb-25 lg:mb-35">
          <h3>Essen und Trinken</h3>
          <p>Nach Safienplatz «Abzweigung Camana» nach Ober Camana. nach Ober Camana.<br>Einige Parkplätze in der Nähe des Hauses.</p>
          <p>Die gemütliche Gaststube mit Specksteinofen bietet Platz für gut 20 Gäste. Von der sonnigen Aussenterrasse gegenüber dem Bruschghorn, schweift der Blick nach Süden in den Talabschluss und bis hinauf zum Tällihorn.</p>
        </div>
      </div>
    </div>
  {{ /partial:layout/article }}
{{ /partial:layout/inner }}
  {{ slot }}  
</main>
