{{ if type == 'intro_opening' }}
  {{ partial:components/intro_opening }}
{{ /if }}

{{ if type == 'gallery' }}
  {{ partial:layout/inner }}
    {{ partial:components/media/gallery class="px-10 xs:px-15 lg:px-35 xl:px-0" }}
  {{ /partial:layout/inner }}
{{ /if }}

{{ if type == 'article' }}
  {{ partial:layout/inner }}
    {{ partial:layout/article }}
  {{ /partial:layout/inner }}
{{ /if }}

{{ if type == 'text' }}
  {{ partial:layout/inner }}
  <article class="privacy px-10 xs:px-15 lg:px-35 xl:px-0">
    {{ content }}
      {{ text }}
    {{ /content }}
  </article>
  {{ /partial:layout/inner }}
{{ /if }}

