{{ partial:layout/inner }}
{{ partial:partials/components/dot class="left-0 xs:left-[2%] top-[70%]" image="dot-15" }}
  <div class="text-center px-15 lg:px-35 xl:px-0">
    <div class="text-xs xs:text-sm md:text-xl lg:text-3xl mb-2 md:mb-5 lg:mb-10 leading-none">
      {{ title }}
    </div>
    <div class="text-sm xs:text-md sm:text-lg md:text-3xl lg:text-5xl mb-20 lg:mb-40">
      {{ opening_hours | nl2br }}
    </div>
    <div class="text-xs xs:text-sm md:text-xl lg:text-3xl">
      {{ text | nl2br }}
    </div>
  </div>
{{ /partial:layout/inner }}