@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "typo/webfonts.css";
@import "components/headings.css";
@import "components/fancybox.css";
@import "utils.css";

html {
  font-feature-settings:'kern'; 
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {

}

main p:last-of-type {
  @apply !mb-0
}

article .lead {
  @apply text-xs xs:text-sm md:text-xl lg:text-3xl leading-[1.2] mb-20 md:mb-30 lg:mb-40
}

article a {
  @apply underline underline-offset-4 decoration-1 hover:no-underline
}