@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "typo/webfonts.css";
@import "components/headings.css";
@import "components/fancybox.css";
@import "utils.css";

html {
  font-feature-settings:'kern'; 
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {

}

main p {

}

main p.lead {
  @apply text-xs xs:text-sm md:text-xl lg:text-3xl leading-[1.2] mb-20 md:mb-25 lg:mb-35
}