@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "typo/webfonts.css";
@import "components/headings.css";
@import "components/fancybox.css";
@import "utils.css";

html {
  font-feature-settings:'kern'; 
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  @apply bg-bird bg-no-repeat bg-[center_right_-100px] lg:bg-[center_right_-150px] 2xl:bg-[center_right_-75px] 3xl:bg-[center_right_20px] bg-[length:200px_auto] lg:bg-[length:240px_auto] 2xl:bg-[length:280px_auto] 3xl:bg-[length:320px_auto]

}

main p:last-of-type {
  @apply !mb-0
}

article .lead {
  @apply text-xs xs:text-sm md:text-xl lg:text-3xl leading-[1.2] mb-20 md:mb-30 lg:mb-40
}

article a {
  @apply underline underline-offset-4 decoration-1 hover:no-underline
}

article.privacy p {
  @apply mb-20 md:mb-25 lg:mb-35
}

article.privacy ul {
  @apply mb-20 md:mb-25 lg:mb-35
}

article.privacy ul li {
  @apply list-disc list-inside
}

article.privacy ul li p {
  @apply inline
}