<div class="{{ class }}">
{{ images }}
  {{ if first }}
    <a
      href="javascript:;" 
      data-src="{{ glide:image preset='3xl' }}" 
      data-fancybox="gallery"
      data-caption="{{ image:alt }}">
      {{ partial:partials/components/media/image count="{{ images | count }}" }}
    </a>
  {{ else }}
    <a 
      href="javascript:;"
      data-src="{{ glide:image preset='3xl' }}" 
      data-fancybox="gallery"
      data-caption="{{ image:alt }}">
    </a>
  {{ /if}}
{{ /images }}
</div>
